.image {
  margin-top: 7%;
  height: 80%;
  width: auto;
  border-radius: 0.5rem;
  align-self: center;
}
.carousel {
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(24, 26, 20, 0.7);
  backdrop-filter: blur(10px);
  padding: 0 5%;
}
.arrow {
  cursor: pointer;
  user-select: none;
}
.arrow:hover path:nth-of-type(1) {
  fill: #552389;
}
.centerContainer {
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tracker {
  background-color: #21073c;
  border: 2px solid #deffeb;
  border-radius: 100rem;
  width: 30rem;
  height: 2.5rem;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 4%;
  position: fixed;
}

.point2 {
  background-color: #deffeb;
  border-radius: 100rem;
  width: 1rem;
  height: 1rem;
  margin: 1% auto;
}
.point {
  background-color: #deffeb;
  border-radius: 100rem;
  width: 0.5rem;
  height: 0.5rem;
  opacity: 0.5;
  margin: 1% auto;
}
