.body {
  overflow: hidden;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  background-position: center;
  background-size: cover;
}

.modal {
  border: none;
  border-radius: 6px;

  padding: 0;
  overflow: hidden;
  z-index: 1;
}
